
<br>
<hr>
<div class="row">
    <div class="col-sm-4 text-center fs-5">
        <h3>Our Services</h3>
      <ul class="list-unstyled">
        {% for service in services %}
        <li><a style="color:#0000A3" class="text-decoration-none" onMouseOver="this.style.color='#000000'"
            onMouseOut="this.style.color='#0000A3'" href="{% url 'service-detail' service.slug %}">{{service.title}}</a></li>
        {% endfor %}
     </ul>
    </div>

    <div class="col-sm-4 text-center">
        <h3>About Us</h3>
        <p>Unity Medical Centre is a clinic located in Kiunguro, Ruiru along Thika road.
            It offers medical facilities for outpatient. Services include <strong>general consultation, 
            medical checkup, minor surgical.</strong> 
         </p>
         <p>
            We are equiped with quality facilities and equipments.
            We have dedicated professionals to serve you at our medical centre. Do not hesitate to 
            <a style="color:#0000A3" class="text-decoration-none" onMouseOver="this.style.color='#000000'"
            onMouseOut="this.style.color='#0000A3'" href="{% url 'contact' %}">contact us</a>
            for any enquiries.
        </p>
    </div>

    <div class="col-sm-4 text-center fs-5">
        <h3>Support</h3>
        <ul class="list-unstyled">
          <li><a style="color:#0000A3" class="text-decoration-none" onMouseOver="this.style.color='#000000'"
              onMouseOut="this.style.color='#0000A3'" href="{% url 'pharmacy' %}">Pharmacy</a></li>
       </ul>
       <ul class="list-unstyled">
        <li><a style="color:#0000A3" class="text-decoration-none" onMouseOver="this.style.color='#000000'"
            onMouseOut="this.style.color='#0000A3'" href="{% url 'services' %}">Services</a></li>
     </ul>
     <ul class="list-unstyled">
        <li><a style="color:#0000A3" class="text-decoration-none" onMouseOver="this.style.color='#000000'"
            onMouseOut="this.style.color='#0000A3'" href="{% url 'contact' %}">Contact Us</a></li>
     </ul>
     <ul class="list-unstyled">
        <li><a style="color:#0000A3" class="text-decoration-none" onMouseOver="this.style.color='#000000'"
            onMouseOut="this.style.color='#0000A3'" href="{% url 'about' %}">About Us</a></li>
     </ul>
    </div>

</div>

<div class="container">

   <div class="text-center">
     {% for item in media_links %}
     <i><a class="text-decoration-none" target="_blank" style="color:black;" href="{{ item.link }}">
     {% if item.image %}
        <img src="{{item.image.url}}" class="rounded" style="vertical-align: middle;" height="40" alt="{{item.alt}}"/>
     {% else %}
        <img src="{{item.image_url}}" class="rounded" style="vertical-align: middle;" height="40" alt="{{item.alt}}"/>
     {% endif %}
    </a></i>&nbsp;&nbsp;
     {% endfor %}
   </div>

    <br>
    <div class="copyright text-center fs-5">
      &copy; Copyright 2023 <strong><span>unity medical clinic</span></strong>. All Rights Reserved
    </div>
    <br>
  </div>