
<div>
  <div class="row fs-5 p-2">
    <div class="col-sm-3"><i><img src="/media/media/logo.png" class="rounded" style="vertical-align: middle;" height="20" alt="UMC"/>&nbsp;&nbsp;UNITY MEDICAL CENTRE</i></div>
    <div class="col-sm-3"><i><img src="/media/media/whatsapp.png" class="rounded" style="vertical-align: middle;" height="20" alt=""/>&nbsp;&nbsp;<a class="text-decoration-none" target="_blank" style="color:black;" href="https://api.whatsapp.com/send?phone=254700000001">+254 700000001</a></i></div>
    <div class="col-sm-3"><i><img src="/media/media/email.png" height="15" alt=""/> <a class="text-decoration-none" style="color:black;" href="mailto:enquiry@dogojanja.com">&nbsp;&nbsp;enquiry@dogojanja.com</a></i></div>
    <div class="col-sm-3 text-center">
      
      {% for item in media_links %}
      <i><a class="text-decoration-none" target="_blank" style="color:black;" href="{{ item.link }}">
      {% if item.image %}
         <img src="{{item.image.url}}" class="rounded" style="vertical-align: middle;" height="20" alt="{{item.alt}}"/>
      {% else %}
         <img src="{{item.image_url}}" class="rounded" style="vertical-align: middle;" height="20" alt="{{item.alt}}"/>
      {% endif %}
     </a></i>&nbsp;&nbsp;
      {% endfor %}
    </div>
  
  </div>
</div>

<div class="p-1 text-center bg-light">
  <a class="text-decoration-none" style="color:black;" target="_blank" href="https://www.bing.com/maps?FORM=Z9LH2&cp=-3.781251%7E39.832098&lvl=21.0&style=h"><i><img src="/media/media/map.png" class="rounded" style="vertical-align: middle;" height="20" alt="map"/>&nbsp;&nbsp;Located at Kijangwani, Kilifi County - KENYA</i></a> 
</div>


<nav class="navbar navbar-expand-lg navbar-light fs-5" style="background-color:blue">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="color:white" href="{% url 'index' %}">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="color:white" href="{% url 'services' %}">Our Services</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" style="color:white" href="{% url 'pharmacy' %}" tabindex="-1" aria-disabled="true">Pharmacy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:white" href="{% url 'about' %}">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color:white" href="{% url 'contact' %}">Contact Us</a>
          </li>
        </ul>
        
        <form class="d-flex" method="GET" action="{% url 'search' %}">
          <input class="form-control me-2" type="search" name="q" placeholder="Search..." aria-label="Search">
          <button class="btn btn-outline-success" style="color:white" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>