<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pharmacy.title }}</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
{% include 'unitymed/navbar.html' %}

<div class="container">
<div class="row bg-light">

    <h1 class="text-center">{{ pharmacy.title }}</h1>
    
    {% if pharmacy.image %}
    <div class="col-sm-4 p-3">
        <img class="card-img-top  rounded" src="{{ pharmacy.image.url }}" alt="pharmacy">   
    </div>
    {% else %}
    <div class="col-sm-4 p-3">
        <img class="card-img-top  rounded" src="{{ pharmacy.image_url }}" alt="pharmacy">   
    </div>
    {% endif %}

    <div class="col-sm-8 fs-5 p-3">
        {{ pharmacy.body | safe }}


        <br>
        <div class="text-center"><a style="color:#0000A3" class="text-decoration-none" onMouseOver="this.style.color='#000000'"
            onMouseOut="this.style.color='#0000A3'" href="{% url 'contact' %}">CONTACT US</a></div>
    </div>
</div>

</div>

{% include 'unitymed/footer.html' %}
</body>
</html>